{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/" style="color: white">Guess Book</a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}"><button type="button" class="btn btn-success">Books</button></a>
        </li>
        <li>
            <a class="nav-link" aria-current="page" href="{% url 'add_book' %}"><button type="button" class="btn btn-success">Add Book</button></a>
        </li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 30px">
    {% block content %}{% endblock %}
</div>
</body>
</html>
