{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for book in books %}
                <div class="col justify-content-center">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="icon">
                                <h6 class="card-title">{{ book.name }} ({{ book.email }})</h6>
                                <a href="{% url 'update_book' book.pk %}" class="icons">
                                    <i class="fa-sharp fa-solid fa-pen"></i>
                                </a>
                                <a href="{% url 'delete_book' book.pk %}" class="icons">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                            </div>
                            <p class="card-text">{{ book.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}